<div class="row">
    <div class="col-md-6 col-md-offset-3 wel">
        <form method="post" action="/home/forgotpassword">
            <h2>Enter your email to reset your password</h2>
            <input type="text" name="email" placeholder="Email" class="form-control"/>
            <br/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

