@model WebApplication4.Models.SecretPageViewModel
<h1>SECRET PAGE!!!! YAY!!!!</h1>

<h2>Welcome @Model.User.FirstName @Model.User.LastName your email is @Model.User.Email</h2>

<a class="btn btn-danger" href="/home/logout">Logout</a>