<div class="row">
    <h2>Sign up to our less than stellar website :(</h2>
    <div class="col-md-offset-3 col-md-6 well">
        <form method="post" action="/home/signup">
            <input type="text" name="firstName" class="form-control" placeholder="First Name" />
            <br />
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" />
            <br />
            <input type="text" name="email" class="form-control" placeholder="Email" />
            <br />
            <input type="password" name="password" class="form-control" placeholder="Password" />
            <br />
            <button class="btn btn-primary">Signup!</button>
        </form>
    </div>
</div>